.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/*-----------Supermarket----------------*/

.Su_white21 {
  font-family: Conv_supermarket;
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.Su_black18 {
  font-family: Conv_supermarket;
  color: #252525;
  font-size: 18px;
  line-height: 21px;
}

.Su_black21 {
  font-family: Conv_supermarket;
  color: #252525;
  font-size: 21px;
  line-height: 21px;
}

.Su_orange21 {
  font-family: Conv_supermarket;
  color: #f05a28;
  font-size: 21px;
  line-height: 21px;
}

a:link.link_Swhite21,
a:visited.link_Swhite21,
a:active.link_Swhite21 {
  font-family: Conv_supermarket;
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

a:hover.link_Swhite21 {
  font-family: Conv_supermarket;
  color: #f05a28;
  font-size: 17px;
  line-height: 21px;
  text-decoration: none;
}

a:link.link_Swhite17,
a:visited.link_Swhite17,
a:active.link_Swhite17 {
  font-family: Conv_supermarket;
  color: #ffffff;
  font-size: 17px;
  line-height: 21px;
  text-decoration: none;
}

a:hover.link_Swhite17 {
  font-family: Conv_supermarket;
  color: #ffffff;
  font-size: 17px;
  line-height: 21px;
  text-decoration: none;

  /*----------Tahoma---------------*/
}

.text_black13 {
  font-family: Tahoma;
  color: #252525;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}

.text_black16 {
  font-family: Tahoma;
  color: #252525;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.text_orange16 {
  font-family: Tahoma;
  color: #f05a28;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.text_orange20 {
  font-family: Tahoma;
  color: #f05a28;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.text_black14 {
  font-family: Tahoma;
  color: #252525;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
}

.text_orange13 {
  font-family: Tahoma;
  color: #f05a28;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}

.text_white13 {
  font-family: Tahoma;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}

.text_white10 {
  font-family: Tahoma;
  color: #ffffff;
  font-size: 10px;
  font-weight: normal;
  line-height: 11px;
}

a:link.link_Tblack13,
a:visited.link_Tblack13,
a:active.link_Tblack13 {
  font-family: Tahoma;
  color: #252525;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
}

a:hover.link_Tblack13 {
  font-family: Tahoma;
  color: #f05a28;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;

}

a:link.link_Twhite13,
a:visited.link_Twhite13,
a:active.link_Twhite13 {
  font-family: Tahoma;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
}

a:hover.link_Twhite13 {
  font-family: Tahoma;
  color: #f05a28;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;

}

a:link.link_T-black13,
a:visited.link_T-black13,
a:active.link_T-black13 {
  font-family: Tahoma;
  color: #252525;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: none;
}

a:hover.link_T-black13 {
  font-family: Tahoma;
  color: #252525;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: underline;

}

a:link.link_T-black14,
a:visited.link_T-black14,
a:active.link_T-black14 {
  font-family: Tahoma;
  color: #252525;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: none;
}

a:hover.link_T-black14 {
  font-family: Tahoma;
  color: #f05a28;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: underline;

}


.formLoginsearch {
  background-color: #ffffff;
  border: none;
  width: 210px;
  height: 21px;
}

.formLogintype {
  background-color: #ffffff;
  border: #f05a28 solid 1px;
  width: 170px;
  height: 25px;
}

.formLoginsend {
  background-color: #ffffff;
  border: none;
  width: 155px;
  height: 21px;
}

.formLogincontact {
  background-color: #ffffff;
  border: #f05a28 solid 1px;
  width: 250px;
  height: 21px;
}

.formLoginmessage {
  background-color: #ffffff;
  border: #f05a28 solid 1px;
  width: 630px;
  height: 100px;
}

.formLogincontact2 {
  background-color: #ffffff;
  border: #f05a28 solid 1px;
  width: 265px;
  height: 21px;
}

.formLoginmessage2 {
  background-color: #ffffff;
  border: #f05a28 solid 1px;
  width: 265px;
  height: 100px;
}